@import '../../assets/scss/utilities/variables';
.c-activityBox{
  display: flex;
  overflow: hidden;
  height: 596px;
  color: $white;
  border-radius: 8px;
  box-shadow: 0 4px 0 rgba(43, 43, 43, .1);
  &__main{
    display: inline-flex;
  }
  &__product{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $white;
  }
  &__info{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 24px 32px 0;
    height: 534px;
  }
  &__item{
    margin-bottom: 16px;
  }
  &__page{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 12px 0;
    height: 60px;
    border-top: 1px solid #f2f2f2;
  }
}
.c-activity{
  position: relative;
  width: 600px;
  &__editThem{
    display: flex;
    flex: 0 0 100%;
    height: 100%;
    background-color: #275E9D;
  }
  &__tag{
    position: absolute;
    top: 16px;
    left: 0;
    box-shadow: 0 4px 0 rgba(43, 43, 43, .1);
    &::after{
      content: '';
      // background: url('../');
    }
  }
  &__tagEdit{
    padding: 12px 0 12px 8px;
    font-family: 'Noto Sans TC';
    background: $secondary;
    text-shadow: 0 2px 0 rgba(43, 43, 43, .15);
    font-style: italic;
  }
  &__title{
    position: absolute;
    top: 64px;
    left: 24px;
    overflow: hidden;
    width: 274px;
    font-size: 36px;
    font-family: 'Noto Sans TC';
    font-weight: 700;
  }
  &__info{
    display: flex;
    padding: 48px 24px;
    font-size: 16px;
    font-weight: 500;
  }
  &__hashtagBox{
    display: inline-flex;
    align-items: flex-end;
    width: 240px;
  }
  &__hashtag{
    margin: 0 -4px;
    font-size: 16px;
    font-weight: 500;
  }
  &__hashtag &{
    &__item{
      display: inline-flex;
      margin: 8px 4px;
      border-radius: 100px;
      background:rgba($white, .2);
    }
    &__link{
      padding: 2px 12px;
      color: $white;
    }
  }
  &__theme{
    overflow: hidden;
    width: 360px;
    height: 100%;
    border-radius:64px 0 0;
    img{width: 100%;
      height: 100%;
      object-fit: cover;}
  }
}
.o-page{
  display: inline-flex;
  align-items: center;
  &__pagination{
    padding: 0 16px;
    color: $primary;
    font-size:18px;
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: Montserrat;
    font-style: italic;
  }
}

