*{
  font-size: 100%;line-height: 1.5;box-sizing: border-box;
}
body{
  font-family: "Noto Sans TC",Montserrat,Roboto,Helvetica,Arial,sans-serif;
  background: #F2F2F2;
}
.l-container{
  margin: auto;max-width: 1240px;
}
a{
  text-decoration: none;
}
