@use './../utils/variables';
*{
  font-size: 100%;line-height: 1.5;box-sizing: border-box;
}
body{
  font-family: $font-family;
  background: #F2F2F2;
}
.l-container{
  margin: auto;max-width: 1240px;
}
a{
  text-decoration: none;
}
