@font-face {
  font-family: 'Noto Sans TC';
  src: url('https://fs-a.ecimg.tw/img/h24/new/index/v1/fonts/Noto_Sans_TC/NotoSansTC-Light.woff2')
    format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans TC';
  src: url('https://fs-b.ecimg.tw/img/h24/new/index/v1/fonts/Noto_Sans_TC/NotoSansTC-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans TC';
  src: url('https://fs-c.ecimg.tw/img/h24/new/index/v1/fonts/Noto_Sans_TC/NotoSansTC-Medium.woff2')
    format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans TC';
  src: url('https://fs-d.ecimg.tw/img/h24/new/index/v1/fonts/Noto_Sans_TC/NotoSansTC-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('https://fs-e.ecimg.tw/img/h24/new/index/v1/fonts/Montserrat/Montserrat-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url('https://fs-f.ecimg.tw/img/h24/new/index/v1/fonts/Montserrat/Montserrat-Italic.woff2')
    format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Montserrat;
  src: url('https://fs-a.ecimg.tw/img/h24/new/index/v1/fonts/Montserrat/Montserrat-Medium.woff2')
    format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url('https://fs-b.ecimg.tw/img/h24/new/index/v1/fonts/Montserrat/Montserrat-MediumItalic.woff2')
    format('woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Montserrat;
  src: url('https://fs-c.ecimg.tw/img/h24/new/index/v1/fonts/Montserrat/Montserrat-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url('https://fs-d.ecimg.tw/img/h24/new/index/v1/fonts/Montserrat/Montserrat-BoldItalic.woff2')
    format('woff2');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Montserrat;
  src: url('https://fs-e.ecimg.tw/img/h24/new/index/v1/fonts/Montserrat/Montserrat-ExtraBold.woff2')
    format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url('https://fs-f.ecimg.tw/img/h24/new/index/v1/fonts/Montserrat/Montserrat-ExtraBoldItalic.woff2')
    format('woff2');
  font-weight: 800;
  font-style: italic;
}
