.c-toolBar{
  position: absolute;
  left: -82px;
  top: 0;
  width: 64px;
  
  &Group{
    border: 1px solid $gray-300;
    border-radius: 8px;
    background: #f2f2f2;
    overflow: hidden;
  }
  &Item{
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover,&.is-active{
      .c-toolBarLink{
        color: $white;
        background: $secondary;
      }
    }
  }
  &Item:first-child{
    border-radius: 8px 8px 0 0;
  }
  &Item:last-child{
    border-radius: 0 0 8px 8px;
  }
  &Item+&Item{
    border-top: 1px solid $gray-300;
  }
  &Link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    min-width: 48px;
    min-height: 100%;
    color: $gray-700;
    background: #f2f2f2;
    text-align: center;
  }
}
