.o-icon{
  display: flex;
  &--prev{
    transform: rotate(180deg);
  }
  &--next,&--prev{
    width: 7px;
    height: 12px;
    background: url('../../assets/images/icon/icon-Arrow--primary.svg') no-repeat;
    background-size: cover;
    transition: all .35s;
  }
}
