.o-icon{
  display: flex;
  &--prev{
    transform: rotate(180deg);
  }
  &--next,&--prev{
    width: 10px;
    height: 16px;
    background: url('../../assets/images/icon/icon-Arrow.svg') no-repeat;
  }
}
