

$font-family: 'Noto Sans TC',montserrat,roboto,helvetica,arial,sans-serif;
$font-base: $font-family;
$primary: #EA1717;
$primary-100: #FD7777;
$primary-200: #FD4D4D;
$primary-300: #F42727;
$primary-500: #A00;
$primary-600: #8C0000;
$primary-700: #7D0404;
// $primary: (
//   "100": $primary-100,
//   "200": $primary-200,
//   "300": $primary-300,
//   "500": $primary-500,
//   "600": $primary-600,
//   "700": $primary-700
// );

$secondary: #0090EB;
$secondary-100: #E8F5FD;
$secondary-200: #D9EFFC;
$secondary-300: #A1D8F9;
$secondary-500: #269BF0;
$secondary-600: #097CE5;
$secondary-700: #0B56C2;
// $secondary: (
//   "100": $secondary-100,
//   "200": $secondary-200,
//   "300": $secondary-300,
//   "500": $secondary-500,
//   "600": $secondary-600,
//   "700": $secondary-700
// );

$tertiary: #012F49;
$tertiary-100: #2E769E;
$tertiary-200: #1D5F85;
$tertiary-300: #084567;
// $tertiary: (
//   "100": $tertiary-100,
//   "200": $tertiary-200,
//   "300": $tertiary-300,
// );

$shopping: #EA6317;
$shopping-100: #F67B36;
$shopping-200: #D84E00;
// $shopping: (
//   "100": $shopping-100,
//   "200": $shopping-200
// );

// $grays: (
//   "100": $gray-100,
//   "200": $gray-200,
//   "300": $gray-300,
//   "500": $gray-500,
//   "600": $gray-600,
//   "700": $gray-700,
// ) ;
$white: #fff ;
$gray-100: #C7C7C7 ;
$gray-200: #E5E5E5 ;
$gray-300: #C7C7C7 ;
$gray-500: #969696 ;
$gray-600: #646464 ;
$gray-700: #2B2B2B ;
$black: #000;



// $gradient-primary: linear-gradient(270deg, $primary 0%, $primary-200 100%);
// $gradient-secondary: linear-gradient(110.28deg, #38ddf4 -2.1%, $secondary 89.12%);
// $gradient-tertiary: linear-gradient(270deg, #171717 0%, #4e4e4e 100%);

